name: ci-cd
on:
  push:
    branches: [main]
    workflow-dispatch:
    tags:
      - "v*.*.*"
jobs:
  docker:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Collecting tag data
        uses: docker/metadata-action@v4
        id: meta
        with: 
          images: |
            armlovich/s23site
          tags: |
            type=semver,pattern={{major}}
            type=semver,pattern={{major}}.{{minor}}

      - 
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - 
        name: set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - 
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_UNAME }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - 
        name: Build and push
        uses: docker/build-push-action@v4
        with:
                #context: .
          push: true
          #tags: ${{ steps.meta.output.tags }}
          tags: v1.0.0
          # labels: ${{ steps.meta.output.labels }}

