name: ci-cd
on:
  push:
    branches: [main]
    workflow-dispatch:
jobs:
  docker:
    runs-on: ubuntu-22.04
    steps:
      - 
        name: Set up QEMU
        uses: docker/setup-qemu-action@v

      - 
        name: set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - 
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_UNAME }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - 
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tag:
